flask
flask-cors
langchain
langchain-community
sentence-transformers
faiss-cpu
numpy
transformers
python-docx
PyPDF2
python-dotenv
requests
pathlib
typing-extensions
torch
tokenizers
langchain-text-splitters
langchain-huggingface
dashscope 